@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>
<nav class="navbar  navbar-expand-sm navbar-dark">


    <a class="nav-link text-primary" asp-area="" asp-controller="Customers" asp-action="Index">Edit || delete Customer</a>
    <a class="nav-link text-primary" asp-area="" asp-controller="Products" asp-action="Index">Edit || delete Product</a>
    <a class="nav-link text-primary" asp-area="" asp-controller="Orders" asp-action="Index">Edit || delete Order</a>



</nav>